<nav class="navbar navbar-light bg-faded navbar-fixed-top" style="height:53px;border-bottom:1px solid #efefef">
    <a class="navbar-brand" href="/"><img src="app/img/skysail.logo.png" height="27px;"></a>

    <ul class="nav navbar-nav">
        <li [class]="checkActive('Bundles')">
            <a class="nav-link" [routerLink]="['/bundles']" [innerHtml]="getBundlesMenuTitle()"></a>
        </li>
        <li [class]="checkActive('Services')"><a class="nav-link" [routerLink]="['/services']">Services</a></li>
        <li [class]="checkActive('Packages')"><a class="nav-link" [routerLink]="['/packages']">Packages</a></li>
        <li [class]="checkActive('Logs')"><a class="nav-link" [routerLink]="['/logs']">Logs</a></li>
        <li [class]="checkActive('Snapshots')"><a class="nav-link" [routerLink]="['/snapshots']">Snapshots</a></li>
        <li [class]="checkActive('Help')"><a class="nav-link" [routerLink]="['/help']">?</a></li>
        <li *ngIf="isLoading()" class="nav-item" style="margin-right:30px;"><i class="fa fa-spinner fa-spin" style="font-size:16px;color:green;margin-top:10px;" aria-hidden="true"></i></li>
        <li *ngIf="!isLoading()" class="nav-item" style="margin-right:30px;"><i class="fa fa-check-circle-o" style="font-size:19px;color:green;margin-top:10px;" aria-hidden="true"></i></li>
        <li class="nav-item" style="background-color:white;margin-left:0px;padding-left:5px;border-bottom:1px solid #bfbfbf;" *ngFor="let breadcrumb of breadcrumbs"><a class="nav-link" [routerLink]="breadcrumb.link" [innerHtml]='breadcrumb.title'></a></li>
        <li class="nav-item" style="background-color:white;margin-left:0px;padding-left:5px;border-bottom:1px solid #bfbfbf;"><a class="nav-link" (click)="prev()">[prev]</a></li>
        <li class="nav-item" style="background-color:white;margin-left:0px;padding-left:5px;padding-right:5px;border-bottom:1px solid #bfbfbf;"><a class="nav-link" (click)="next()">[next]</a></li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
        <li [class]="checkActive('Config')"><a class="nav-link" [routerLink]="['/config']">&nbsp;&nbsp;&nbsp;<i class="fa fa-cog" aria-hidden="true"></i></a></li>
    </ul>

    <form (ngSubmit)="onSubmit()" class="form-inline pull-xs-right">
        <input type="submit" class="btn btn-info" value="Create Snapshot">
    </form>

    <!--   <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success-outline" type="submit">Search</button>
    </form>-->
</nav>