<h2><i class="fa fa-th-large" aria-hidden="true" style="color: green"></i> Bundle <i>{{bundle.symbolicName}}</i>:</h2>

<tabs>
  <tab [tabTitle]="'Overview'">

    <table class="table">
      <tr>
        <th width="200px;"><span title="">ID</span></th>
        <td>{{bundle.id}}</td>
      </tr>
      <tr>
        <th><span title="Manifest header identifying the bundle's symbolic name.">Symbolic Name</span></th>
        <td>{{bundle.symbolicName}}</td>
      </tr>
      <tr>
        <th><span title="Manifest header identifying the bundle's version.">Version</span></th>
        <td>{{bundle.version}}</td>
      </tr>
      <tr>
        <th>State</th>
        <td [innerHTML]="bundle.state | bundleState"></td>
      </tr>
      <tr *ngIf="bundle.description">
        <th>Description</th>
        <td>{{bundle.description}}</td>
      </tr>
      <tr *ngIf="bundle.docUrl">
        <th><span title="Manifest header identifying the bundle's documentation URL, from which further information about the bundle may be obtained.">DocUrl</span></th>
        <td>{{bundle.docUrl}}</td>
      </tr>
      <tr>
        <th>Last Modification</th>
        <td>{{bundle.lastModification | date:'medium'}}</td>
      </tr>
      <tr *ngIf="bundle.bundleClasspath">
        <th>Bundle Classpath</th>
        <td>{{bundle.bundleClasspath}}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td (click)="showContents(bundle)" [innerHtml]="bundle.location | maxLength:80" style="cursor: pointer; color:#000066;">...</td>
      </tr>
      <tr *ngIf="bundle.vendor">
        <th>Vendor</th>
        <td>{{bundle.vendor}}</td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td>
          <form (ngSubmit)="onSubmit()">
            <button type="submit" class="label label-primary">Stop</button>
            <button type="submit" class="label label-primary">Update</button>
            <button type="submit" class="label label-primary">Refresh</button>

          </form>
        </td>
      </tr>
    </table>
  </tab>
  
  <!--<tab [tabTitle]="'Packages'">
    <subtab>
        hi
    </subtab>
  </tab>-->

  <tab [tabTitle]="exportedPackagesTitle()" [tabColor]="'#0275d8'" [tabDescription]="'Exported Packages'">
    <table class="table">
      <tr>
        <th style="width:270px;"><i class="fa fa-folder-open-o" aria-hidden="true" style="color: #0275d8"></i> Exported Packages:</th>
        <td style="align:left;">
          <!--<div *ngFor="let pkg of bundle.exportPackage">
            <span>{{pkg.pkgName}} [{{pkg.version}}]</span><span>{{pkg.mandatory}}</span>
          </div>-->

           <Tree [nodes]="exportedPackagesNodes"></Tree>
        </td>
      </tr>
    </table>
  </tab>

  <tab [tabTitle]="importedPackagesTitle()" [tabColor]="'#0275d8'" [tabDescription]="'Imported Packages'">
    <table class="table">
      <thead>
        <tr>
          <th width='200px;'>Package  <input type="text" name="search_name" size="20" style="border: 0px solid gray;"
              [(ngModel)]="searchName" /> <i class="fa fa-search" aria-hidden="true"></i></th>
          <th>Version Range</th>
          <th>Resolution</th>
          <th>Satiesfied by (Candidates)</th>
        </tr>
      </thead>
      <tr *ngFor="let pkg of (bundle.importPackage | packagesFilter:searchName)">
        <td [class]="getImportPackageClass(pkg)">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true" style="color: blue"></span>&nbsp;&nbsp;<b>{{pkg.pkgName}}</b>
        </td>
        <td>{{pkg.versionRange}}</td>
        <td>
          <div>
            <span>{{pkg.resolution}}</span>
          </div>
        </td>
        <td>
          <div *ngFor="let candidate of pkg.packageResolvingCandidates">
            <span *ngIf="candidate.exportingBundle.id == bundle.id">self</span>
            <span *ngIf="candidate.exportingBundle.id != bundle.id">Bundle {{candidate.exportingBundle.id}}: packageVersion {{candidate.version}} </span>
          </div>
        </td>
      </tr>
    </table>
  </tab>

  <tab [tabTitle]="providedServicesTitle()" [tabColor]="'orange'" [tabDescription]="'Provided Services'">
    <table class="table">
      <thead>
        <tr>
          <th width='200px;'>Service ID</th>
          <th>Service</th>
        </tr>
      </thead>
      <tr *ngFor="let service of bundle.providedServices">
        <td>{{service.id}}</td>
        <td (click)="onSelectService(service)" style="cursor: pointer; color:#000066;">
          {{service.objectClass}}
        </td>
      </tr>
    </table>
  </tab>

   <tab [tabTitle]="usedServicesTitle()" [tabColor]="'orange'" [tabDescription]="'Consumed (Used) Services'">
    <table class="table">
      <thead>
        <tr>
          <th width='200px;'>Service ID</th>
          <th>Service</th>
        </tr>
      </thead>
      <tr *ngFor="let service of bundle.servicesInUse">
        <td>{{service.id}}</td>
        <td (click)="onSelectService(service)" style="cursor: pointer; color:#000066;">
          {{service.objectClass}}
        </td>
      </tr>
    </table>
  </tab>

  <tab [tabTitle]="provWiresTitle()"  [tabColor]="'darkgreen'" [tabDescription]="'Provided Wires'">
    <span *ngIf="bundle.wireDescriptor?.alerts">
      <div *ngFor="let alert of bundle.wireDescriptor?.alerts" class="alert alert-{{alert.level}}" role="alert">{{alert.message}}</div>
    </span>

    <div class="container">
      <div *ngFor="let wire of wires | values" class="table">
        <div class="row">
          <div class="col-md-10"><b>{{wire[0].capability.name}}</b> is wired to</div>
          <div class="col-md-2">
            <span class="label label-primary" title="{{wire[0].capability.attributes | json}}">Attributes</span>
            <span class="label label-success" title="{{wire[0].capability.directives | json}}">Directives</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row" *ngFor="let req of wire">
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-3" (click)="onSelectBundle(req.requirement.bundleId)"><i class="fa fa-th-large" aria-hidden="true" style="color: green"></i>&nbsp;{{req.requirement.bundleName }}</div>
          <div class="col-md-8">{{req.requirement.directives}}</div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </tab>

  <tab [tabTitle]="reqWiresTitle()"  [tabColor]="'darkgreen'" [tabDescription]="'Required Wires'">
    <span *ngIf="bundle.wireDescriptor?.alerts">
      <div *ngFor="let alert of bundle.wireDescriptor?.alerts" class="alert alert-{{alert.level}}" role="alert">{{alert.message}}</div>
    </span>

    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Providing Bundle</th>
          <th>Requirement</th>
          <th>Capability</th>
        </tr>
      </thead>
      <tr *ngFor="let requiredWire of bundle.wireDescriptor?.requiredWires">
        <th><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="color: blue"></span> Required Wire:</th>
        <td (click)="onSelectBundle(requiredWire.pid)" style="cursor: pointer; color:#000066;">{{requiredWire.pid}} </td>
        <td>
          <div>{{requiredWire.requirement | json}}</div>
        </td>
        <td>{{requiredWire.capability | json}}</td>
      </tr>
    </table>
  </tab>
  <tab tabTitle="Capabilities">
    <span *ngIf="bundle.wireDescriptor?.alerts">
      <div *ngFor="let alert of bundle.wireDescriptor?.alerts" class="alert alert-{{alert.level}}" role="alert">{{alert.message}}</div>
    </span>

    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr *ngFor="let capability of bundle.wireDescriptor?.capabilities">
        <th><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="color: blue"></span> {{capability.namespace}}:</th>
        <td>
          <div>
            <div>{{capability.attributes}}</div>
            <div>{{capability.directives}}</div>
          </div>
        </td>
      </tr>
    </table>
  </tab>

  <tab tabTitle="Requirements">
    <span *ngIf="bundle.wireDescriptor?.alerts">
      <div *ngFor="let alert of bundle.wireDescriptor?.alerts" class="alert alert-{{alert.level}}" role="alert">{{alert.message}}</div>
    </span>
    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr *ngFor="let requirement of bundle.wireDescriptor?.requirements">
        <th><span class="glyphicon glyphicon-log-in" aria-hidden="true" style="color: blue"></span> {{requirement.namespace}}:</th>
        <td>
          <div>
            <div>{{requirement.attributes}}</div>
            <div>{{requirement.directives}}</div>
          </div>
        </td>
      </tr>
    </table>
  </tab>

  <tab tabTitle="SRC">
    <table class="table" style="max-width:500px;">
      <tr>
        <td>
          <p *ngFor="let scr of scrs"><b>{{scr | json}}</b>:</p>
        </td>
      </tr>
    </table>
  </tab>

  <tab tabTitle="Manifest">
    <table class="table" style="max-width:500px;">
      <tr>
        <td>
          <p *ngFor="let h of bundle.manifestHeaders"><b>{{h.key}}</b>: <span innerHtml="{{h.value | link}}"></span></p>
        </td>
      </tr>
    </table>
  </tab>

</tabs>