<h2><i class="fa fa-th-large" aria-hidden="true" style="color: green"></i> Contents of Bundle <i>{{bundle.symbolicName}}</i>:</h2>

<tabs>
    <tab [tabTitle]="'Sources'">

        <table class="table">
            <tr>
                <th><span>OSGI-INF</span></th>
                <td>
                    <div *ngFor="let path of bundle.infPaths">
                        <span (click)="showFileContents(bundle.id,path)">- {{path}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span>Sources (OSGI-OPT)</span></th>
                <td>
                    <div *ngFor="let path of bundle.sourcePaths">
                        <span (click)="showFileContents(bundle.id,path)">- {{path}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span >Other content</span></th>
                <td>
                    <div *ngFor="let path of bundle.contentPaths">
                        <span (click)="showFileContents(bundle.id,path)">- {{path}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </tab>
</tabs>