<h1><span class="glyphicon glyphicon-th-large" aria-hidden="true" style="color: green"></span> Details of Bundle <i>{{bundle.symbolicName}}</i>:</h1>

<div *ngIf="isLoading">loading...</div>

<tabs>
  <tab [tabTitle]="'Overview'">

    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr>
        <th>ID</th>
        <td>{{bundle.id}}</td>
      </tr>
      <tr>
        <th>Symbolic Name</th>
        <td>{{bundle.symbolicName}}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{bundle.version}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{bundle.description}}</td>
      </tr>
      <tr>
        <th>DocUrl</th>
        <td>{{bundle.docUrl}}</td>
      </tr>
      <tr>
        <th>Last Modification</th>
        <td>{{bundle.lastModification}}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{bundle.location}}</td>
      </tr>
      <tr>
        <th>Start Level</th>
        <td>{{bundle.startLevel}}</td>
      </tr>
      <tr>
        <th>State</th>
        <td>{{bundle.state}}</td>
      </tr>
      <tr>
        <th>Vendor</th>
        <td>{{bundle.vendor}}</td>
      </tr>
    </table>
  </tab>

  <tab tabTitle="Exported Packages">
    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr>
        <th><span class="glyphicon glyphicon-modal-window" aria-hidden="true" style="color: blue"></span> Exported Packages:</th>
        <td>
          <p *ngFor="#pkg of bundle.exportPackage">{{pkg.pkgName}} [{{pkg.version}}]</p>
        </td>
      </tr>
    </table>
  </tab>

  <tab tabTitle="Manifest">
    <table class="table">
      <thead>
        <tr>
          <th width='270px;'>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr>
        <th>Manifest Headers</th>
        <td>
          <!--<div *ng F or="#value of bundle.manifestHeaders | values"> </div>-->
          <p *ngFor="#h of bundle.manifestHeaders"><b>{{h.key}}</b>: {{h.value}}</p>
        </td>
      </tr>
    </table>
  </tab>

</tabs>