<h1><span class="glyphicon glyphicon-play-circle" aria-hidden="true" style="color: orange"></span> Details of Service <i>{{service.id}}</i></h1>

<div *ngIf="isLoading">loading...</div>

<table class="table">
    <thead>
        <tr>
            <th width='200px;'>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <th>ID</th>
        <td>{{service.id}}</td>
    </tr>
    <tr>
        <th><span class="glyphicon glyphicon-cog" aria-hidden="true" style="color: gray"></span> Object Class</th>
        <td>
            {{service.objectClass}}
        </td>
    </tr>
    <tr>
        <th>PID</th>
        <td>{{service.pid}}</td>
    </tr>
    <tr>
        <th>Ranking</th>
        <td>{{service.ranking}}</td>
    </tr>
    <tr>
        <th>Properties</th>
        <td>
            <ul>
                <li *ngFor="#property of properties"><b>{{property.key}}</b>: {{property.value}}</li>                
            </ul>
        </td>
    </tr>
    <tr>
        <th><span class="glyphicon glyphicon-th-large" aria-hidden="true" style="color: green"></span> Bundle</th>
        <td (click)="onSelect(service.bundle)" style="cursor: pointer; color:#337ab7;">
            {{service.bundle.symbolicName}} [{{service.bundle.version}}] (#{{service.bundle.id}})
        </td>
    </tr>
    <tr>
        <th>Using Bundles</th>
        <td>
            <ul>
                <li (click)="onSelect(usingBundle)" style="cursor: pointer; color:#337ab7;" *ngFor="#usingBundle of usingBundles">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true" style="color: green"></span> 
                    {{usingBundle.symbolicName}} [{{usingBundle.version}}] (#{{usingBundle.id}})
               </li>                
            </ul>
        </td>
    </tr>
    <tr>
        <th>Links</th>
        <td><a href='http://localhost:2002/backend/services/{{service.id}}'>Raw</a></td>
    </tr>
</table>