<h2><i class="fa fa-th-large" aria-hidden="true" style="color: green"></i> Bundles <small>({{filteredCount}} of {{bundles?.length}})</small></h2>

<tabs>
  <tab [tabTitle]="'Bundles Overview'">

    <div *ngIf="isShown('help_bundles_overview')" class="alert alert-warning alert-dismissible fade in" role="alert" style="font-size:small">
      <button type="button" class="close small" data-dismiss="alert" aria-label="Close" (click)="hidePermanently('help_bundles_overview')" style="font-size:small"><span aria-hidden="true">Sure, I know</span></button>
      <strong>Bundles</strong> are the building blocks in an OSGi environment. Esentially, they are <i>common jar files</i>      
      with <i>additional information in their
      manifest.mf file</i>, defining their capabilities and requirements. If their dependencies are met (by other bundles and
      the runtime in general), they get resolved by the OSGi runtime and can provide <b>services</b> via the OSGi service
      registry.
      <br><br> The following bundles are currently deployed in the OSGi runtime:
    </div>

    <table class="table table-hover" style="table-layout: fixed; width=100%;white-space: nowrap;">
      <thead>
        <tr>
          <th class="text-xs-right" style="width:50px;">ID</th>
          <th>SymbolicName <input type="text" name="search_name" size="20" style="border: 0px solid gray;" [(ngModel)]="searchName"
            /> <i class="fa fa-search" aria-hidden="true"></i></th>
          <th style="width:120px;"># prov. Serv.</th>
          <th style="width:120px;"># used Serv.</th>
          <th style="width:200px;">Version</th>
          <th style="width:100px;">Status</th>
          <th style="width:120px;">Size (KB)</th>
        </tr>
      </thead>
      <tr *ngFor="let bundle of (bundles | bundlesFilter:searchName)">
        <td>{{bundle.id}}</td>
        <td (click)="onSelect(bundle)" style="cursor: pointer; color:#000066;">{{bundle.symbolicName}}</td>
        <td>{{bundle.registeredServiceIds.length}}</td>
        <td>{{bundle.usedServiceIds.length}}</td>
        <td>{{bundle.version}}</td>
        <td [innerHtml]="bundle.state | bundleState"></td>
        <td><span [d3PercentBar]='bundle.size' [d3MaxValue]='maxSize' [d3MaxWidth]='100' class="chart" title="{{bundle.size}} KB"></span></td>
      </tr>
    </table>
  </tab>

  <tab [tabTitle]="'Adjacency Matrix'">
    <div *ngIf="isShown('help_bundles_matrix')" class="alert alert-warning alert-dismissible fade in" role="alert" style="font-size:small">
      <button type="button" class="close small" data-dismiss="alert" aria-label="Close" (click)="hidePermanently('help_bundles_matrix')" style="font-size:small"><span aria-hidden="true">Ah,ok...</span></button>     
      Bundles export some of their packages, and usually import packages provided by other bundles. This Bundles export some
      of their packages, and usually import packages provided by other bundles. This adjacency matrix should help you understand
      which bundles are related to which other bundles. To be done...
    </div>

    <div id="vizcontainer">
      <svg style="width:1000px;height:1000px;border:1px lightgray solid;" adjacency />
    </div>
  </tab>

  <tab [tabTitle]="getBarChartTitle('Service Dependencies')">
    <div *ngIf="isShown('help_bundles_servicedep')" class="alert alert-warning alert-dismissible fade in" role="alert" style="font-size:small">
      <button type="button" class="close small" data-dismiss="alert" aria-label="Close" (click)="hidePermanently('help_bundles_servicedep')"><span aria-hidden="true">Ah,ok...</span></button>      
      Bundles can provide services, and those services might depend on services from other bundles to be available. To be done...
    </div>

    Show System Bundle: <input type=checkbox id="showSystemBundle">
    <div>
      <svg id="d3serviceDep" style="width:1000px;height:600px;border:0px #bfbfbf solid;" d3serviceDep />
    </div>
  </tab>

  <tab [tabTitle]="getBarChartTitle('Package Dependencies')">
    <div *ngIf="isShown('help_bundles_packagedep')" class="alert alert-warning alert-dismissible fade in" role="alert" style="font-size:small">
      <button type="button" class="close small" data-dismiss="alert" aria-label="Close" (click)="hidePermanently('help_bundles_packagedep')" style="font-size:small"><span aria-hidden="true">well...</span></button>      
      Bundles export some of their packages (with a package-related version), and they might depend on packages provided
      by other bundles (in a specific version range). To be done...
    </div>
    Show System Bundle: <input type=checkbox id="showSystemBundle">
    <div>
      <svg id="d3pkgDep" style="width:1000px;height:600px;border:0px #bfbfbf solid;" d3PkgDep />
    </div>
  </tab>

  <tab [tabTitle]="getBarChartTitle('Size Distribution')">
    <div *ngIf="isShown('help_bundles_size')" class="alert alert-warning alert-dismissible fade in" role="alert" style="font-size:small">
      <button type="button" class="close small" data-dismiss="alert" aria-label="Close" (click)="hidePermanently('help_bundles_size')" style="font-size:small"><span aria-hidden="true">Hm, is it?</span></button>      
      This is going to be a size distribution chart...
    </div>
    <div>
      <svg id="d3BundleSizes" style="width:1000px;height:600px;border:0px #bfbfbf solid;" d3BundleSizes />
    </div>
  </tab>
</tabs>

<a (click)="showAllInlineHelp()" style="font-size:small;">show inline help</a>